<section class="admindestination">
    <div class="container">
            <!-- <a *ngFor="let country of countries" (click)="select(country)">{{country.name}}</a> -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a *ngFor="let country of countries; let isFirst = first" 
                    (click)="onSelectCountry(country)"
                    class="nav-item nav-link" 
                    [class.active]="isFirst" 
                    data-toggle="tab" role="tab">
                    
                    <h6>{{country.name | uppercase}}</h6>
                </a>
            </div>
        </nav>


        <!-- <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        </div> -->
        

        <div>
            <table class="table">
                <tbody>
                    <tr *ngFor="let provience of proviences" >
                        <th>
                            <a class="btn btn-link"  routerLink="/country/{{selectedCountry.id}}/provience/{{provience.id}}">{{provience.name}}</a>
                        </th>
                        <td>
                                
                            <a class="btn btn-link" *ngFor="let city of provience.cities" routerLink="/admin/admincities">{{city.name}}</a>
                            <!-- <a class="btn btn-link" *ngFor="let city of provience.cities" routerLink="/cities/{{city.id}}">{{city.name}}</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</section>

    






<!-- <div class="container destwide">
        <div class="desttitle">
            <h3>Season Suggestions</h3>
        </div>

        <div class="card">
            
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                
                <li class="nav-item" *ngFor="let month of months; let isFirst = first" >     
                    <a class="nav-link" 
                        [class.active]="isFirst" 
                        [attr.id]="'pills-' + month.id + '-tab'" 
                        [attr.href]="'#pills-' + month.id" 
                        data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true"><h6>{{month.name | slice:0:3 | uppercase}}</h6><hr></a>
                </li>
            </ul>
       
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show" *ngFor="let month of months; let isFirst = first"
                        [class.active]="isFirst" 
                        [attr.id]="'pills-' + month.id"  
                        role="tabpanel" aria-labelledby="pills-home-tab" >

                    <div class=".container">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let city of month.topCities">
                                    <div class="image">
                                        <img class="h-100" src= "http://localhost:61125/api/images/{{city.mainImageId}}" alt="picture----">
                                        <div class="monthcitytxt d-inline-block">{{city.name}}</div>
                                    </div>                                
                                </div>                                  
                            </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div> -->


   
    
        
      