@import '../../variables';

a{
    cursor: pointer; 
}


h6{
    font-weight: bold;
}

.table{ 
    .btn-link{
        color: gray;
    }

   
    tr:first-child{ 
        th,td{border-top: 0px;}  
    }

    th{ 
        //width: 20%;
        .btn-link{
            font-weight: Bold;
        }
        
        //padding-left: 0;
        //padding-right: 0;
    }
    td{
        //padding-left: 0;
        //padding-right: 0;
    }
}