<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                About Us
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                  Services
            </div> 
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                Spare1
            </div> 
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                Spare2
            </div> 
        </div> 

        <div class="socialmedia">
            
                <a>
                    <i class="fa fa-facebook-square fa-2x">&nbsp; </i>
                </a>

                <a>
                    <i class="fa fa-instagram fa-2x">&nbsp; </i>
                </a>

                <a>
                    <i class="fa fa-weixin fa-2x">&nbsp; </i>
                </a>
            
        </div>

    </div>
</footer>