@import '../../variables';

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .image{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
}

//the following code is for display indicator on right with pic
// ol.carousel-indicators {
//     display: block;
//     right: 0;
//     left: 0;
//     top:10%;
//     bottom: 10%;
//     margin-right: 0%;
//     margin-left: 0%;
//     margin-top: 0%;
//     margin-bottom: 0%;
    
    
//     .IC{
//         @include aspect-ratio(16, 9);
//         left: 92%;
//         width: 6%;
//         margin-bottom: 1%;
//         background-color: rgba(255, 255, 255, 0.5);
//     }

//      .IC.active{
//         border: rgba(255, 187, 0, 0.74) 3px solid;
//     }
// }

.carousel{
    .car-ind-txt{ 
            
            color:white;
            margin:auto;
            z-index: 16;
            font-size: $display1-size * 1.25;
            font-weight: $headings-font-weight;
            //margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

        }
    
    //background-color: grey;
}


@mixin aspect-ratio2($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    
    > .carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.carousel-inner{
    width: 100%;
    //@include aspect-ratio2(15, 5);
    @include aspect-ratio2(16, 7);

    .carousel-caption{
        margin: auto;
        top:5%;
        //width: 50%;
        left: 0%;
        right: 0%;
        padding: 16px;
        max-width: $media-screen-m;
        text-align: left; 
        z-index: 2;
    }

}

.homemain{
    //width: $media-screen-m; 
    margin: auto;
    //padding: 16px;
    //background-color: rgb(22, 21, 21);

    .homemainc1{
        //padding: 16px;
        
        //background-color: pink;
        //margin: 16px;
    }


    .homemainc2{
       
        //padding: 16px 0px;
        //background-color: paleturquoise;
        
        //@media screen and (max-width: $media-screen-s){
            //padding:16px; 
        //}
    }
}

.desc{
    color: gray;

    .p0{
        margin: auto;
        text-align: center;
    }
    
}